@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #FFFFFF;
  --default-bg-color: #503C3C; 
}

body {
  color: var(--text-color);
  background: var(--default-bg-color);
}